<div class="box-slide">
  <div class="box-slide__inner js-slide ">
    <div class="box-slide__item"><img src="images/slide1.png"></div>
    <div class="box-slide__item"><img src="images/slide1.png"></div>
    <div class="box-slide__item"><img src="images/slide1.png"></div>
    <div class="box-slide__item"><img src="images/slide1.png"></div>
  </div>
</div>
