<div class="box-form">
  <div class="time-local">It is currently 01:33 pm in Melbourne, Australia and it’s 24.1° Celsius</div>
  <form class="form-enquiries">
    <div class="form-enquiries__left">
      <div class="form-item">
        <input type="text" class="form-text" placeholder="First name *">
      </div>
      <div class="form-item">
        <input type="text" class="form-text" placeholder="Last name *">
      </div>
      <div class="form-item">
        <input type="email" class="form-email" placeholder="Email *">
      </div>
      <div class="form-item">
        <input type="number" class="form-number" placeholder="Phone *">
      </div>
      <div class="form-item">
        <input type="text" class="form-text" placeholder="Company (If Applicable)*">
      </div>
    </div>
    <div class="form-enquiries__right">
      <div class="form-item">
        <select class="country" name="">
          <option value="Country">Country</option>
          <option value="1">Viet Nam</option>
          <option value="2">Australia</option>
          <option value="3">England</option>
          <option value="4">France</option>
          <option value="5">Germany</option>
        </select>
      </div>
      <div class="form-item">
        <input type="text" class="form-text" placeholder="Postcode/Zip Code">
      </div>
      <div class="form-item">
        <select class="Enquiry Type" name="">
          <option value="type1">Enquiry Type</option>
          <option value="type2">Enquiry Type 2</option>
          <option value="type3">Enquiry Type 3</option>
        </select>
      </div>
      <div class="form-item">
        <textarea class="form-textarea" placeholder="..." rows="4"></textarea>
      </div>
      <div class="form-wrap">
        <input type="submit" value="Enquire" class="wpcf7-form-control wpcf7-submit">
      </div>
    </div>

  </form>
</div>
