<div class="object-specific">
  <div class="object-specific__content">
    <a class="back-link prev" href="/styleguide/denholm.html">Back</a>
    <div class="object-specific__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</a>
    </div>
    <div class="object-specific__quantity">
      <form>
        <div class="form-item">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" min="0" max="100" value="1">
        </div>
        <div class="form-wrapper">
          <input type="submit" value="Purchase">
        </div>
      </form>
    </div>
  </div>
  <div class="object-specific__gallery">
    <div class="box-slide__inner js-slide-circle">
      <div class="box-slide__item"><img src="images/produc-detail.png"></div>
      <div class="box-slide__item"><img src="images/produc-detail.png"></div>
      <div class="box-slide__item"><img src="images/produc-detail.png"></div>
      <div class="box-slide__item"><img src="images/produc-detail.png"></div>
    </div>
    <div class="object-specific__group">
      <h2 class="object-specific__title">Bob</h2>
      <div class="price">$990 AUD</div>
    </div>
  </div>
</div>
