<div class="box-product">
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product1.jpg"></div>
    <h3 class="box-product__title">Bob</h3>
    <div class="box-product__price"><span>$990 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product2.jpg"></div>
    <h3 class="box-product__title">Helen</h3>
    <div class="box-product__price"><span>$990 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product3.jpg"></div>
    <h3 class="box-product__title">Laura</h3>
    <div class="box-product__price"><span>$990 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product4.jpg"></div>
    <h3 class="box-product__title">Chippy</h3>
    <div class="box-product__price"><span>$990 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product5.jpg"></div>
    <h3 class="box-product__title">Duke</h3>
    <div class="box-product__price"><span>$480 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
  <div class="box-product__item">
    <div class="box-product__image"><img src="images/product6.jpg"></div>
    <h3 class="box-product__title">Bolboa</h3>
    <div class="box-product__price"><span>$480 AUD</span><a class="next" href="../styleguide/object-specific.html">Read More</a></div>
  </div>
</div>
