<div class="box-slide-content">
  <div class="box-slide-content__iiner js-slide">
    <div class="box-slide-content__item">
      <div class="box-slide-content__image">
        <img src="images/commission1.png">
      </div>
      <div class="box-slide-content__body">
        <h2>Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="box-slide-content__item">
      <div class="box-slide-content__image">
        <img src="images/commission1.png">
      </div>
      <div class="box-slide-content__body">
        <h2>Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="box-slide-content__item">
      <div class="box-slide-content__image">
        <img src="images/commission1.png">
      </div>
      <div class="box-slide-content__body">
        <h2>Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="box-slide-content__item">
      <div class="box-slide-content__image">
        <img src="images/commission1.png">
      </div>
      <div class="box-slide-content__body">
        <h2>Name</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
