<div id="barba-wrapper" class="wrapper">
  <div class="barba-container">
    <a class="next" href="/pattern-lab/public/patterns/01-components-landing-landing-page/01-components-landing-landing-page.html">back to home page</a>
  </div>
</div>
