.box-slide-content {
  max-width: 600px;
  margin: 0 auto;
  
  &__item {
    display: flex !important;
    align-items: center;

    h2 {
      font-size: 24px;
    }
  }

  &__body {
    width: 30%;
    margin-left: 67px;
    max-width: 150px;
  }

  img {
    max-width: 395px;
  }
}
