.form-enquiries {
  &__left,
  &__right {
    width: 50%;
    float: left;
    padding: 0 50px;
  }

  .form-wrap {
    width: 100%;
    clear: both;
  }
}


.time-local {
  text-align: center;
  font-size: 12px;
  margin-bottom: 75px;
  font-weight: 700;
}
