.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  text-indent: 0;
  border: 0;
  min-width: inherit;
  padding: 0;
  margin: 0;
  font-size: 0;
  color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.slick-next {
  right: -35px;
  background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;

  @include susy-media(tablet) {
    right: -75px;
  }
}

.slick-prev {
  left: -35px;
  background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;

  @include susy-media(tablet) {
    left: -75px;
  }
}

.box-slide {
  position: relative;
  padding: 0 10px;

  @include susy-media(tablet) {
    padding: 0 23px;
  }

  .slick-track {
    width: 2000px;
  }

  &__item {
    float: left;
    text-align: center;

    @include susy-media(tablet) {
      min-width: 742px;
    }

    img {
      display: inline-block;
    }
  }

  &.has-info {
    .box-slide {
      padding: 0 85px;
    }

    .box-slide__item {
      // min-width: inherit;
    }

    img {
      @include susy-media(tablet) {
        max-width: 322px;
      }
    }

    .box-info {
      margin-top: 30px;

      @include susy-media(tablet) {
        position: absolute;
        bottom: 0;
        left: -150px;
        margin-top: 0;
      }

      &__item {
        margin-bottom: 0;
      }
    }
  }
}
