.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  text-indent: 0;
  border: 0;
  min-width: inherit;
  padding: 0;
  margin: 0;
  font-size: 0;
  color: transparent;

  &.slick-disabled {
    display: none !important;
  }

  &:hover {
    background-color: transparent;
  }
}

.slick-next {
  right: -75px;
  background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;

}

.slick-prev {
  left: -75px;
  background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
  background-size: 100% auto;
}

.box-slide {
  padding: 0 23px;
}
