// .pt-page {
//   opacity: 0;
//   visibility: hidden;
//
//   &.pt-page-current {
//     opacity: 1;
//     visibility: visible;
//   }
// }

.landing {
  h1 {
    line-height: 1;
    // @include susy-media(desktopSuperwide) {
    //   font-size: 86.25px;
    // }
  }

  h2 {
    line-height: 1.3;
    font-size: 50px;
    // @include susy-media(desktopSuperwide) {
    //   font-size: 68.8px;
    // }
  }

  h3 {
    line-height: 1.3;
    font-size: 35px;
    // @include susy-media(desktopSuperwide) {
    //   font-size: 49.43px;
    // }
  }

  .ms-section {
    text-align: center;
  }

  a {
    color: $white;
  }
}

.group-content {
  position: relative;
  display: inline-block;
  color: $white;

  &.with-image {
    padding-top: 85px;

    &:hover {

      img {
        opacity: .7;
      }
    }

    // @include susy-media(desktopSuperwide) {
    //   padding-top: 120px;
    // }

    img {
      max-width: 326px;
      // opacity: .7;

      // @include susy-media(desktopSuperwide) {
      //   max-width: 479px;
      // }
    }

    .title--bottom {
      position: absolute;
      top: 0;
      left: 30px;
      line-height: 1.5;
      z-index: 1;

      &:before {
        bottom: 8px;
      }

      @include susy-media(desktopSuperwide) {
        left: 60px;
      }
    }

    .title--center {
      position: absolute;
      top: 46%;
      left: 18px;
      transform: translate(0, -50%);
      line-height: 1;
      z-index: 1;
      font-size: 62px;

      &:before {
        left: -75px;
        width: 112px;
        margin-top: -15px;
      }

      // @include susy-media(desktopSuperwide) {
      //   left: 29px;
      //   transform: translate(0, -56%);
      // }
    }

    .link-more {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      font-size: 0;
      color: transparent;
    }
  }

  .box-info {
    position: absolute;
    bottom: -193px;
    right: -83px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    min-width: 274px

    &:before {
      content: "*";
      position: absolute;
      left: -30px;
      top: -5px;
      color: red;
      width: 10px;
      height: 10px;
      font-size: 34px;
      font-weight: 700;
    }

    b {
      font-size: 12px;
      margin-top: 21px;
      display: block;
    }
  }
}


.ms-left {
  position: relative;
  z-index: 999;

  .group-content.with-image .title--center:before {
    border-color: $yellow;
  }

  .ms-section {
    position: relative;

    &:before {
      background-size: auto 100%;
      background-position: 0 center;
      position: absolute;
      right: -77px;
      top: 0;
      bottom: 0;
      width: 232px;
      height: 100%;
      content: '';
    }

    &:nth-child(1) {

      .group-content {
        padding-top: 30px;
      }

      &:before {
        background: url('../images/line1.png') no-repeat scroll 0 0 transparent;
      }
    }

    &:nth-child(2) {
      &:before {
        background: url('../images/line2.png') no-repeat scroll 0 0 transparent;
        right: -185px;
      }
    }

    &:nth-child(3) {
      &:before {
        background: url('../images/line3.png') no-repeat scroll 0 0 transparent;
        right: -79px;
      }
    }
  }
}

.ms-right {
  .group-content.with-image {
    img {
      max-width: 340px;
    }

    .title--bottom {
        color: $text-color;
        font-size: 62px;

        &:before {
          border-color: $pink;
        }
      }
  }
}

.next-page {
  .arrow-btn {
    text-indent: -999em;
    font-size: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
  }

  .arrow-left {
    background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    left: 15px;
  }

  .arrow-right {
    background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    right: 15px;
  }
}
