.page-transition {
  width: 100%;

  .nav {
    list-style: none;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
    cursor: pointer;
    font-size: 24px;

    span {
      padding: 4px 8px;
      line-height: .7;
      display: inline-block;
    }

    &:before {
      content: '>';
      position: absolute;
      color: red;
      font-size: 24px;
      left: 50%;
      transform: rotate(270deg);
    }

    &.objects,
    &.top {
      position: fixed;
      top: 57px;
      left: 50%;
      transform: translate(-50%, 0);

      &:before {
        top: -30px;
        margin-left: -2px;
      }
    }

    &.what {
      left: 28px;
      transform: rotate(-90deg);

      &:before {
        top: -32px;
        margin-left: -8px;
      }
    }

    &.bio {
      left: 57px;
      transform: rotate(-90deg);

      &:before {
        top: -32px;
        margin-left: -8px;
      }
    }

    &.commissions {
      right: -15px;
      transform: rotate(-90deg);

      &:before {
        top: 38px;
        transform: rotate(-270deg);
        margin-left: -8px;
      }
    }

    &.exhibit {
      right: 30px;
      transform: rotate(-90deg);

      &:before {
        top: 38px;
        transform: rotate(-270deg);
        margin-left: -8px;
      }
    }

    &.is-active {
      background: #f9f1f1;
    }
  }
  .arrow {
    text-indent: -999em;
    font-size: 0;
    width: 27px;
    height: 27px;
    display: inline-block;
    cursor: pointer;

    &:before {
      display: none;
    }

    &.is-active {
      background-color: transparent;
    }

    &.arrow-left {
      background: url('../images/arrow-left.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      left: 30px;
    }

    &.arrow-right {
      background: url('../images/arrow-right.png') no-repeat scroll 0 0 transparent;
      background-size: 100% auto;
      right: 30px;
    }
  }

  &__nav {
    text-transform: uppercase;

    ul {
      margin: 0;
      padding: 0;
    }

    .expand {
      &:hover {
        ul {
          transition: .5s;
          top: -94px;
          opacity: 1;
          visibility: visible;
        }
      }
      ul {
        position: absolute;
        left: 65px;
        top: 0;
        transform: rotate(90deg);
        font-size: 12px;
        line-height: 1.4;
        text-transform: capitalize;
        color: #e1bbba;
        margin: 0;
        z-index: 1;
        transition: .5s;
        visibility: hidden;
        opacity: 0;

        &:before {
          position: absolute;
          content: '';
          left: -50px;
          top: -50px;
          display: inline-block;
          width: 136px;
          height: 200px;
        }

        li {
          margin-bottom: 5px;
          position: relative;
          z-index: 2;

          &:before {
            content: '';
            position: absolute;
            right: -24px;
            width: 4px;
            height: 4px;
            background-color: #ed2024;
            top: 50%;
            margin-top: -2px;
          }
        }
      }
    }

    li {
      list-style: none;
    }
  }

  &__footer {
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    z-index: 99;

    &__inner {
      display: flex;
      align-items: center;
      z-index: 99;
      text-transform: uppercase;
      justify-content: flex-end;
      list-style: none;
    }

    .instagram {
      font-size: 12px;
      margin-left: 20px;
      padding: 4px 13px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background: url('../images/line.png') no-repeat scroll 0 0 transparent;
        left: -18px;
        bottom: -12px;
        width: 21px;
        height: 40px;
        background-size: 100% auto;
      }

      a {
        color: $text-color;
      }
    }

    .nav {
      position: relative;
      top: 0;
      transform: translate(0, 0);
      font-size: 12px;
      padding: 4px 13px;

      &:before {
        display: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
}

.content-inner {
  max-width: 788px;
  width: 100%;
  // padding-top: 35px;
  max-height: calc(100% - 240px);
  overflow-y: auto;
}

.denholm,
.object-specific {
  .content-inner {
    overflow: inherit;
  }
}

.bg-active {
  background: #f9f1f1;
}
