// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

//Font variables
$base-font-size: 16.67px;
$base-line-height: 1.22;

// Add global paths
$image-path: '../images/';
