// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include aperto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base-line-height;
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  text-size-adjust: none;
  // background: #ccc;
  font-size: 12px;
}

.box-text {
  font-size: 12px;
  max-width: 690px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}
